<!DOCTYPE html>
<html>

<body>
    <a href="/home">Back to home</a>
    <form id="ifTextFocus">
        <label for="textFocus">Select all constrained labels?</label>
        <input id="textFocus" type="checkbox" checked>
    </form>

    <p>
        Select the attributes you want to see: <br>
        Checkbox : Select Attribute to be displayed <br>
        Radiobox : Select Attribute to sort by <br>
        Searchbox: Insert statements to search by.<br>
    </p>
    <form id="query" class="query">

        <% for (x in attribList){ %>

        <input id="<%= attribList[x].name %>" type="checkbox" name="query" value="<%= attribList[x].name %>">
        <input id="<%= attribList[x].name %>" type="radio" name="order" value="<%= attribList[x].name %>">
        <label for="<%= attribList[x].name %>"><%= attribList[x].label %></label>
        <input type="text" name="<%= attribList[x].name %>" onclick="textFocus('<%= attribList[x].name %>')">
        <br>
        <% }; %>

        <input type="submit">

    </form>


    <p id="formData"></p>

    <script type="text/javascript" src="assets/formProcessor.js"></script>
</body>

</html>